.login{
    background-image: url('https://i.ibb.co/rfHqjcy/bannerbackground.png');
    height: 480px;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}