img{
    height: 30px;
    margin: 0 20px;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-right: 20px;
    cursor:pointer;
}
button{
    border-radius: 35px;
    height: 40px !important;
}
.nav-item button,p{
    font-weight: 100;
}
.nav-item button,p:hover{
    font-weight: 400;
}
.FontAwesomeIcon:hover{
    color:blue;
}