.footer-style{
    background-color: rgb(6, 7, 7);
    margin: 0;
    padding: 0;
    margin-bottom: -20rem;
    margin-top: 3rem;
    color: white;
    text-align: left;
}
.footer-style p{
    margin: 0;
    padding: 0;
}