.footer-style{
    background-color: rgb(6, 7, 7);
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-bottom: -200rem;
    position: relative;
    margin-top: 3rem;
    color: white;
    text-align: left;
}
.footer-style a{
    margin: 0;
    padding: 0;
    color:white;
}